<footer class="footer" id="contact">
    <div class="container">
        <nav class="footer-nav">
            <a href="page-sirena.html" class="footer-link">S.I.R.E.N.A.</a>
            <a href="page-conhecaLucas.html" class="footer-link">L.U.C.A.S.</a>
            <a href="page-quemsomos.html" class="footer-link">QUEM SOMOS</a>    
            <a href="page-faq.html" class="footer-link">F.A.Q.</a>
        </nav>
    </div>
    <div>
        <p class="footer-text">DATA4LIFE é uma empresa fictícia criada para o projeto de conclusão do semestre de Análise e Desenvolvimento de Sistemas da FIAP - São Paulo.</p>
    </div>
</footer>
